body {
    margin: 0;/*-- отступы --*/
    
    front-family: 'Raleway', sans-serif;
    front-size: 14px;/*  Размер шрифта для страницы==*/
    color: 090909;/*  Цвет основного шрифта==*/
    color: c50000;/*  Цвет основного шрифта==*/
    
    -webkit-font-smoothing: antialiased;/*-- сгладит шрифты --*/
    background-color: #fff;/*-- это фон сайта --*/
    
}

*,
*:before,
*:after{
    box-sizing: border-box;/*  Алгаритм подсчета соотношения блоков==*/
}
/*-- расположение для всех заголовках --*/
h1,h2,h3,h4,h5,h6{
    margin: 0;
}


/* Container
======размеры блока для всего сайта =====*/
.container{
    width: 100%;/*-- ширина 100% --*/
    max-width: 1170px;/*-- мак ширина 1170 пикс --*/
    margin: 0 auto; /*-- расположение --*/
}



/* Header
=====================*/
.header {
    width: 100%;/*-- ШИРИНА ШАПКИ  --*/
    height: 100px;/*-- ВЫСОТА ШАПКИ И ОЬ НЕЕ ОТТАЛКИВАТСЯ  --*/
    
    position: absolute;/*-- ТЕГ ДЕЛАЕТ НАВИГАЦИЮ ПОВЕРХ КАРТИНКИ  --*/
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {/*-- под миню для логотипа чтобы выставить настроики--*/
    display: flex;
    justify-content: space-between; /*-- делает пустое место между логотипом и кнопками --*/ 
    align-items: center;/*-- позволяет выровнить элементы по центру --*/
    padding: 35px 0;/*-- отступ для хедр иннор --*/
    
    border-bottom: 1px solid #515369; /*-- черта с низу сплошная --*/
    
}


/* Nav
=====================*/

.nav { /*-- характеристика для всей навигации --*/
    front-size: 13px;/*-- размерв пикселях --*/
    front-weight: 700px;
    text-transform: uppercase;/*-- Тег делает все буквы большими --*/
}
.nav__link { /*-- характеристика для каждой кнопки в навигации --*/
    margin-left: 50px;/*-- ОТСТУП У КАЖДОГО СЛОВА 5И ПКС --*/
    color: #fff;
    text-decoration: none;/*-- подчеркивание с низу убрали --*/
    opacity: 0.75;/*-- прозрачность слов --*/
    
    
    
    transition: opacity .1s linear;/*-- ПЛАВНЫЙ ПЕРЕХОД --*/
}

.nav__link:first-child {
    margin-left: 0;/*-- ДЛЯ ПЕРВОЙ ССЫЛКИ ОТСТУПА НЕТ --*/
}

.nav__link:hover {
    opacity: 1;/*-- ФУНКЦИЯ НАВОД ПРОЗРАЧНОСТЬ 1 --*/
}


/*Intro
==============*//*-- БЛОК С ФОТО ЭКРАНА ПОЗАДИ И ХАРАКТЕРИСТИКИ --*/
.intro {
    display: flex;/*--все дочерние папки стан-ся резин-ми --*/
    flex-direction: column;/*-- каждый новый элимент с новой строки --*/
    justify-content: center;/*--позв-ет выровнить по центру по вертикале блока интро --*/
    height: 750px;/*-- ВЫСОТА КАРТИНКИ --*/
    padding-top: 100px;
   
        background: #31344e url("img/intro-bg.jpg") center/cover no-repeat ;/*-- ВЫДЕЛИЛИ В HTML ОТДЕЛЬНЫЙ БЛОК И В НЕГО ВСТАВИЛИ КАРТИНКУ COVER ОЗНАЧАЕТ ЗАНЯТЬ БЛОК ЦЕЛИКОМ #31344e-ЭТО ФОНОВЫЙ ЦВЕТ ЕСЛИ КАРТИНКА НЕ ПРОГРУЗИТЬСЯ  --*/
}

.intro__inner {
    width: 100%;/*--занимает 100 размер блока --*/
    max-width: 970px;/*-- максимальная ширина --*/
    margin: 0 auto;/*--расстояние располоджения--*/
    text-align: center;/*--тег выровнить по центру --*/
}
/*-- харак-ки для intro__title --*/
.intro__title{
    margin: 0 0 30px;/*-- расположение от заголовка с низу 30 пикселей" сверху  спрпва-слева с низу" для отделения элементов друк от друга --*/
    font-family: 'Open Sans', sans-serif;/*-- шрифт текста из гугл --*/
    font-size: 65px;/*-- размер букв --*/
    line-height: 1.1;/*-- меж строчный интервал универсальная запись соотношениек размерам--*/
    color: №fff;
    font-weight: 700;/*-- жирность шрифта --*/
    text-transform: uppercase;/*-- текст бульшими буквами --*/
    text-align: center;/*-- текст по центру --*/
}


.intro__subtitle {
    margin-bottom: 60px;/*-- отступ от слов с низу 60 пикселей --*/
    
    font-size: 22px;/*-- цвет букв --*/
    color: #fff;
    line-height: 1.5;/*--меж строчный отступ--*/
    font-weight: 400;/*-- жирность шрифта --*/
}



/* Button
==============*/
.btn {
    display: inline-block;
    vertical-align: top;/*-- выравнвание по верт границе --*/
    padding: 14 40px;/*--внутрение отступы сверху снизу слева и справа --*/
    border-radius: 2px;/*--закругление границ на кнопке --*/
    border: 0;/*-- граница --*/
    cursor: pointer;/*-- курсор при наведение --*/
    
    font-family: 'Raleway', sans-serif;
    font-size: 13px;    /*-- размер шрифта --*/
    color: №fff
    font-weight: 600;/*-- жирность шрифта --*/
    text-transform: uppercase;/*-- заглавные буквы --*/
    text-decoration: none;/*-- подчеркивание не будет --*/
    
    transition: background 1.s
    linear;   /*-- плавные переход фона --*/ 
}
.btn--red {
    background-color: #e84545;/*-- цвет кнопки --*/
}


.btn--red:hover {
    background-color: #af4848;/*-- при наводе изменяется цвет --*/
}

